[build-system]
requires = ["setuptools>=64.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "dfm_tools"
version = "0.21.0"
maintainers = [{ name = "Jelmer Veenstra", email = "jelmer.veenstra@deltares.nl" }]
description = "dfm_tools are pre- and post-processing tools for Delft3D FM"
readme = "README.md"
keywords = ["dfm_tools", "D-FlowFM", "D-HYDRO", "post-processing", "pre-processing", "mapfiles", "hisfiles", "modelbuilder"]
license = { text = "LGPLv3" }
requires-python = ">=3.9"
dependencies = [
	#scipy<1.6.0 pip install fails in py39, is also 3 years old
	"scipy>=1.6.0",
	#numpy 1.21 is EOL since june 2023
	"numpy>=1.22",
	#contour colorbar on uniform values fails with matplotlib<3.7.0, several other features with matplotlib<3.6.0
	"matplotlib>=3.7.0",
	#pandas>=1.4 is required by xarray>=2023.3.0
	"pandas>=1.4.0",
	#shapely<2.0.0 give "AttributeError: module 'shapely' has no attribute 'GeometryType'"
	"shapely>=2.0.0",
	#geopandas<0.13.0 require shapely<2.0.0
	"geopandas>=0.13.0",
	#fiona<1.9 does not contain sql where filter
	"fiona>=1.9",
	#contextily<1.0.0 is from April 2020
	"contextily>=1.0.0",
	#xarray<2023.9.0 does not support multidimensional coordinates (used in e.g. HIRLAM meteo data)
	"xarray>=2023.9.0",
	#dask version is aligned with xarray
	"dask>=2023.9.0",
	#netcdf4<1.5.4 pip install fails in py39
	"netcdf4>=1.5.4",
	#bottleneck<1.3.3 pip install fails in py39
	"bottleneck>=1.3.3",
	#xugrid<0.9.0 does not support partitioned 1d2d grids
	"xugrid>=0.9.0",
	#cdsapi<0.6.1 is from Feb 2021 and does not support newer python versions
	"cdsapi>=0.6.1",
	#pydap<3.4.0 is from May 2017 and does not support newer python versions
	"pydap>=3.4.0",
	#erddapy<2.0.0 does not support pandas>=2.0.0
	"erddapy>=2.0.0",
	#copernicusmarine<1.0.2 does not support no_metadata_cache in get_and_check_username_password function
	"copernicusmarine>=1.0.2",
	#rws-ddlpy<0.3.0 is very old and does not support newer pandas versions
	"rws-ddlpy>=0.3.0",
	#pooch<1.1.0 do not have attribute retrieve
	"pooch>=1.1.0",
	#hydrolib-core 0.7.0 supports meshkernel>=4.1.0
	"hydrolib-core>=0.7.0",
	#meshkernel<4.1.0 does not support contacts_get, no macos support, etc
	"meshkernel>=4.1.0",
]
classifiers = [
	"Development Status :: 4 - Beta",
	"Intended Audience :: Science/Research",
	"Operating System :: OS Independent",
	"Topic :: Scientific/Engineering :: Information Analysis",
	"License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
	"Programming Language :: Python",
	"Programming Language :: Python :: 3",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
	"Programming Language :: Python :: 3.11",
	"Programming Language :: Python :: 3.12",
]

[project.urls]
Home = "https://github.com/deltares/dfm_tools"
Code = "https://github.com/deltares/dfm_tools"
Issues = "https://github.com/deltares/dfm_tools/issues"

[project.optional-dependencies]
dev = [
	"bump2version>=0.5.11",
	"flake8",
	"pytest",
	"pytest-cov",
	"twine",
	"build",
]
docs = [
	"mkdocs",
	"mkdocs-material",
	"mkdocs-jupyter",
	"mkdocstrings-python",
	"mkdocs-exclude",
]
examples = [
	"jupyter",
	"notebook",
]

[tool.setuptools]
packages = ["dfm_tools"]

[tool.pytest.ini_options]
console_output_style = "count"
testpaths = ["tests"]
addopts = "-v --tb=short --durations=0"
filterwarnings = ["ignore::UserWarning"]
markers = [
	"unittest: mark a test as unittest. Used for testing single methods",
	"systemtest: mark a test as systemtest. Used for testing at a higher level, verifying a given input returns the expected output",
	"acceptance: mark a test as acceptance. Used for non-functional requirements and data that needs to be human-verified",
	"requireslocaldata: mark a test that cannot run on Github",
	"requiressecrets: mark a test that requires environment variables to be set (e.g. via Github secrets)",
]

[tool.flake8]
exclude = "docs"
