scipy<1.10.0
numpy
matplotlib
pandas
hydrolib-core>=0.5.1
meshkernel>=2.0.2
shapely>=1.7.0
#cartopy #commented since cartopy is not pip installable
pyepsg
geopandas
contextily
xarray<2023.3.0
dask
netcdf4>=1.5.3
bottleneck
xugrid>=0.2.1
cdsapi
pydap
