name: pytest-py310-mindeps

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Set fixed versions in requirements.txt extracted from pyproject.toml
      run: |
        python -m pip install --upgrade pip
        python -m pip install toml-to-requirements
        toml-to-req --toml-file pyproject.toml --optional-lists dev
        sed -i -E 's/>=/==/' requirements.txt
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        pip install -e .
    - name: list env contents
      run: |
        conda info
        conda list
        pip list
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      env:
        CDSAPI_KEY: ${{ secrets.CDSAPI_KEY }}
        COPERNICUSMARINE_SERVICE_USERNAME: ${{ secrets.COPERNICUSMARINE_SERVICE_USERNAME }}
        COPERNICUSMARINE_SERVICE_PASSWORD: ${{ secrets.COPERNICUSMARINE_SERVICE_PASSWORD }}
      run: |
        pytest -m "not requireslocaldata" --cov=dfm_tools --cov-report xml --cov-report term
